@model SuperSurvey.UseCases.Ports.In.PollDTO

@{
    ViewData["Title"] = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row m-1">
        <div class="col-sm m-1 p-1">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
        @foreach (var item in Model.Options) 
        {
            <div class="card bg-primary mb-3 col-sm m-1 p-1">
                <div class="card-header">
                    <h4>@item.Description</h4>
				</div>
                    <div class="card-body">
                        @using(Html.BeginForm("Vote", "Poll", new { Model.Id }, FormMethod.Post)) 
                        {
                            <div class="">
                                <input type="hidden" id="VoteId" name="VoteId" value="@item.Id" />
                                <div class="row d-flex justify-content-center">
                                    <img src="@item.PictureUrl" style="object-fit:contain;height:10em;" />
                                </div>
                                <div class="row pt-2">
                                    <input type="submit" value="Votar" class="btn btn-secondary" />
                                </div>
                            </div>
                        }
					</div>
            </div>
        }
        </div>
    </div>
</div>
